<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
    <%= link_to task_path(task) do %>
    <%= task.title %>
    <%= link_to task_path(task), method: :delete, data: { confirm: "Do you want to delete #{task.title}" } do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
    <% end %>
    </li>

  <% end %>
  <p><%= link_to 'Add a new task', new_task_path %></p>
</ul>
